@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sidebar {
        @apply bg-white h-screen px-7 w-auto duration-200 text-black dark:bg-black dark:text-white max-mobile-l:px-0
        max-mobile-l:fixed
    }
    .functional_button {
        @apply bg-zinc-200 hover:bg-zinc-300 rounded-md flex items-center mx-1 p-1 dark:bg-zinc-900
        dark:hover:bg-zinc-800 cursor-pointer
    }
    .map{
        @apply hover:bg-zinc-200 dark:hover:bg-zinc-800 cursor-pointer rounded-md my-6 text-lg font-semibold
        flex items-center justify-start
    }
    .main{
        @apply w-full h-full bg-white text-black dark:bg-black dark:text-white max-mobile-l:ml-20
    }
    .todolist {
        @apply bg-white h-full px-3 w-auto duration-200 text-black dark:bg-black dark:text-white right-0 relative 
        max-mobile-l:w-[17em] max-mobile-l:float-right max-mobile-l:h-full
    }
    .interactiveSidebar{
        @apply max-mobile-l:absolute max-mobile-l:right-0 max-mobile-l:top-0 max-mobile-l:h-screen max-mobile-l:w-[17em]
    }
    .overflow{
        @apply max-mobile-l:bg-black max-mobile-l:bg-opacity-50 dark:max-mobile-l:bg-white dark:max-mobile-l:bg-opacity-50
        max-mobile-l:fixed max-mobile-l:w-full
    }
    .input{
        @apply w-48 rounded-md outline-none py-1 px-2 text-black font-medium bg-zinc-200 placeholder:text-zinc-500
         dark:text-white  dark:bg-zinc-900 dark:placeholder:text-zinc-400
    }
    .list{
        @apply list-none bg-zinc-200 my-2 p-1 rounded-md text-base font-semibold flex items-center justify-between
        dark:bg-zinc-900 max-w-xs break-words
    }
    .trash{
        @apply bg-zinc-800 p-1 cursor-pointer dark:bg-zinc-400 rounded-md mx-1
    }
    .container{
        @apply w-full h-full flex justify-center flex-wrap m-2 rounded-md bg-zinc-100 dark:bg-zinc-900
    }
    .charts{
        @apply max-w-md m-2 bg-white rounded-md max-h-80 p-2 dark:bg-black
    }
    .green{
        @apply bg-green-500
    }
    .red{
        @apply bg-red-500
    }
    .cards{
        @apply bg-zinc-200 dark:bg-zinc-900 h-12 p-1 overflow-hidden relative flex items-center justify-between rounded-md
        cursor-pointer my-1
    }
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: black;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}